*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #007580;
}
.carousel-container{
  width: 50%;
  height: 600px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.carousel{
  width: 90%;
  height: 100%;

}
.carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.prev, .next {
  display: flex;
  align-items: center;

}
.prev i, .next i {
    cursor: pointer;
    font-size: 36px;
    color: #f0a500;
}
